
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h4>Projeto contruido com C# e Asp.Net MVC</h4>
    <h4>Código disponível no <a href="https://github.com/winstein27/Projeto-Escolar">GitHub</a></h4>
    <h4>Hospedado na Microsoft Azure</h4>
</div>
