@model Model.Models.Turma

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Turma/_PartialDetailsDeleteView.cshtml")

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">Remover</button>
    @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-default" })
}
