@model Model.Models.Aluno

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Aluno/_PartialDetailsDeleteView.cshtml")

<div class="col-md-offset-3">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-danger">Remover</button>
        @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-default" })
    }
</div>